
#mainNavbar {
    font-size: 1.2rem;
    font-weight: 100;
    background-color: var(--dark-color);
  }
  
  #mainNavbar .navbar-brand {
    color: var(--brand-color);
    font-size: 1.5rem;
    font-weight: 100;
  }
  
  #navLinks ul li a {
    color: var(--light-color);
  }
  
  #mainNavbar .nav-link:hover {
    color: var(--brand-color);
  }
  