.proj-img {
    object-fit: cover;
    height: 280px;
    outline: 1px solid black;
  }
  
  .text-small {
    font-size: 0.8rem;
  }
  
  .project-link {
    box-shadow: 0 0.3rem 0.3rem 0 rgba(0, 0, 0, 0.1);
    border: 2px solid var(--dark-color);
    background-color: var(--light-color);
  }
  
  
  .project-link:hover {
    opacity: 0.8;
    transform: scale(1.03);
  }