/* Update footer size and add min height */
.footer {
    min-height: 50px;
    background: var(--dark-color);
    position: relative;
}

/* Place styling on Github, LinkedIn and Discord icons */
.links {
    width: 30%;
    font-size: 1.5rem;
}

.links a {
    color: var(--light-color);
}

.links a:hover {
    color: var(--brand-color);
    transform: scale(1.15)
}