/* add class that changes font color */
.color-change {
  font-weight: 800;
  color: var(--brand-color);
}

/* Add section header style that can be used across pages */
.section-header {
  font-size: 1.7rem;
  text-align: center;
}