:root {
    --brand-color: #c14953;
    --light-color: #faf9f6;
    --dark-color: #353b3c;
    --bg-color: #e8d6cb;
}

* {
    font-family: "Space Mono", sans-serif
}

#root {
    padding: 55px 0 55px 0;
    background-color: var(--dark-color);
    min-height: 100vh; 
    color: var(--light-color);
}